.form-container {
    background-color: aliceblue;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    width: fit-content;
    min-width: 20rem;
    height: fit-content;
    color: #0c3d63;
}

.form-container form, .reward-form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 25rem;
}

.form-container form {
    padding: 1.5rem;
}

.form-container h4 {
    margin-bottom: 0;
}


.close {
    width: fit-content;
    align-self: flex-end;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.form-container label {
    text-align: start;
}

.task-form-label {
    width: 70%;
    margin-top: 1.5rem;
}

#deadline {
    margin-bottom: 1.5rem;
}




.submit-task-button {
    width: fit-content;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    align-self: center;
    background-color: lightblue;
}


.selected-deadline {
    display: flex;
    align-items: center;
    margin-top: -1.5rem;
}

.selected-deadline button {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}


.form-container .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
    color: #0c3d63 !important; /* Your custom label color */
}


.form-container .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
    color: #0c3d63 !important;
}


.form-container .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
    color: #0c3d63 !important;
}