.account-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    margin-top: 2rem;
    width: 100%;
    background-color: #135382;
    min-width: fit-content;
    margin-left: 0;
    margin-right: 0;
    box-sizing: border-box;
    justify-content: center;
}

.account-details-container h1 {
    font-size: 2rem;
    font-weight: bold;
    color: aliceblue;
    margin: 0;
    width: fit-content;
    text-transform: uppercase;
}

.account-details-container p {
    color: aliceblue;
    font-size: 1.3rem;
    display: flex;
    text-align: start;
}

.account-details-form-container {
    margin-top: 1rem;
}

.create-password-container form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.account-details-form-container button {
    background-color: transparent;
    border: none;
    padding: .2rem .2rem;
    border-radius: 50%;
    color: aliceblue;
    font-size: 1.3rem;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.account-details-form-container button:hover {
    color: lightgreen;
}

.username-container,
.user-email-container,
.user-password-container {
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: space-between;
    border: 1px solid white;
    padding: 0 1rem;
    margin-top: 1rem;
    box-sizing: border-box;
    min-width: 450px;
}

.username-container button,
.user-email-container button,
.user-password-container button {
    height: 2rem;
    border: none;
    background-color: transparent;
    color: aliceblue;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    cursor: pointer;
}

#google-button {
    cursor: default !important;
}

.user-name-container-google,
.google-user-password-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    width: 30%;
    padding: 0 1rem;
    margin-top: 1rem;
    box-sizing: border-box;
    min-width: 450px;
}

.signed-in-google-text {
    color: aliceblue;
}

.create-password-container form,
.account-details-form-container form {
    display: flex;
    align-items: center;
}

.create-password-container button {
    height: 2rem;
    border: none;
    background-color: transparent;
    color: aliceblue;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    cursor: pointer;
}

.unlink-google {
    margin-top: 1rem;
    background: transparent;
    border: none;
    color: aliceblue;
    text-decoration: underline;
    cursor: pointer;
    font-size: 1rem;
}

.unlink-message p {
    font-size: 1rem;
    color: #0c3d63;
    text-align: center;
}

.input-button-container {
    display: flex;
    align-items: center;
}

#error-message {
    font-size: 1rem;
    color: red;
}

.account-form-1 {
    display: flex;
    justify-content: center;
}

.account-form-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.account-text-field-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-app-header {
    padding: 0;
    margin: 0;
    color: aliceblue;
    font-size: 2rem;
}

.delete-account-button {
    margin-top: 16rem;
    background-color: transparent;
    border: none;
    color: aliceblue;
    text-decoration: underline;
    font-size: 1rem;
    cursor: pointer;
}

.delete-account-container p {
    color:#0c3d63;
}



@media screen and (max-width: 470px) {

    .user-name-container-google,
    .google-user-password-container,
    .username-container,
    .user-email-container,
    .user-password-container {
        min-width: 400px;
    }
}

@media screen and (max-width: 415px) {

    .user-name-container-google,
    .google-user-password-container,
    .username-container,
    .user-email-container,
    .user-password-container {
        min-width: 365px;
    }

    .account-details-container p {
        font-size: 1rem;
    }
}

@media screen and (max-width: 374px) {
    .account-form-1 {
        flex-wrap: wrap;
    }

    .account-form-buttons {
        margin-top: .5rem;
    }

    .account-text-field-container,
    .version-2 {
        margin-left: 10px;
    }

    .account-form-bottom-input {
        margin-top: 10px;
    }
}

@media screen and (max-width: 370px) {

    .user-name-container-google,
    .google-user-password-container,
    .username-container,
    .user-email-container,
    .user-password-container {
        min-width: 315px;
    }
}

@media screen and (max-width: 330px) {

    .user-name-container-google,
    .google-user-password-container,
    .username-container,
    .user-email-container,
    .user-password-container {
        min-width: 265px;
    }

    .account-text-field-container div {
        margin-top: 4px;
    }
}

@media screen and (max-width: 350px) {
    .account-details-container h1 {
        font-size: 1.4rem
    }
}

@media screen and (max-width: 330px) {
    .account-text-field-container, .account-details-form-container form {
        display: block;
    }
}


@media (min-width: 351px) and (max-width: 450px) {

    .account-details-container h1 {
        font-size: 1.6rem;
    }
}

@media (min-width: 451px) and (max-width: 650px) {
    .account-details-container h1 {
        font-size: 1.8rem;
    }
}

@media screen and (max-height: 745px) {
    .delete-account-button {
        margin-top: 13rem;
    }
}