.to-do-element, .reward-item {
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
    min-height: 3rem;
    min-width: 17rem;
    max-width: 20rem;
}

.to-do-element {
    justify-content: center;
}

.view-task {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
    cursor: pointer;
    border: none;
    border-radius: .4rem;
    color: #135382;
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
    background: linear-gradient(to bottom right, aliceblue, #6fa8dc);
    padding: .5rem;
    width: 100%;
    max-width: 15rem;
    min-height: 5rem;
    max-height: 5rem;
    overflow: hidden;
    height: 5rem;
}


.overdue-task-button {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    min-width: 12rem;
    max-width: 15rem;
    background-color: #135382;
    border: 1px solid #6fa8dc;
    color: aliceblue;
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
    border-radius: .4rem;
    padding: 10px;
    max-width: 15rem;
    min-height: 5rem;
    max-height: 6rem;
    overflow: hidden;
    height: 6rem;
    width: 100%;
}



.view-task:hover, .view-reward:hover {
    transform: scale(1.05);
}

.deadline-details {
    margin: 0;
    font-size: .8rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.deadline-details p {
    margin-top: 0;
    margin-bottom: 0;
}

.status-box {
    width: 100%;
   display: flex;
   justify-content: space-between;
}

.status-box p {
    margin: 0;
    display: flex;
    align-items: center;
    font-weight: bolder;
}


#overdue-text {
    color: #c11b1d;
    font-weight: bolder;
    font-size: 1rem;
    margin: 0;
}

.task-name-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: 65%;
    max-width: 100%;
    overflow: hidden;
}

.task-name-container p {
    margin: 0;
    text-align: start;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limit to 2 lines */
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    max-width: 100%;
}

.overdue-task-name-container {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
    overflow: hidden;
}

.overdue-task-name-container p {
    margin: 0;
    text-align: start;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    white-space: nowrap;
}

#completed-text {
    color: green;
}

@media (max-width: 315px) {
    .view-task {
        min-width: none !important;
    }


}

@media (min-width: 316px) and (max-width: 350px) {
    .to-do-element {
        min-width: 16rem;
    }
}

@media (min-width: 351px) and (max-width: 400px) {
    .to-do-element {
        min-width: 17rem;
    }
}


@media (min-width: 351) and (max-width: 500px) {
    .to-do-element {
        min-width: 18rem;
    }
}