.reset-form {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    background-color: aliceblue;
    border-radius: .8rem;
    min-height: fit-content;
    justify-content: center;
    align-items: center;
}

.error-text {
    margin: 0;
    padding-bottom: 1rem;
}