.sign-up-container {
    background-color: #135382;
    margin-top: 2rem;
    color: aliceblue;
    max-width: 300px;
    width: 100%;
 }
 
.sign-up-form {
     display: flex;
     flex-direction: column;
     padding: 1.5rem;
     background-color: aliceblue;
 }
 
 .sign-up-link-text {
     color: aliceblue
 }